body {
    background: linear-gradient(
        45deg,
        #ff00cc,
        #3333ff
    ); /* Dégradé de couleurs */
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: #fff; /* Couleur du texte */
}

#root {
    background-color: rgba(
        255,
        255,
        255,
        0.2
    ); /* Couleur de fond semi-transparente */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Animation pour le favicon */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Style pour le titre */
h1 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Style pour le script */
script {
    background: linear-gradient(
        45deg,
        #ff00cc,
        #ffcc00
    ); /* Dégradé pour le script */
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}
